body {
  background: #111;
}
.container {
  width: 100%;
  width: 640px;
  margin: 0 auto;
  text-align: center;
  background: #FAFAFA url(../images/common__bg.png) repeat-y;
  height: 100%;
}
.header {
  min-height: 200px;
  overflow: hidden;
  position: relative;
}
.header__logo--top {
  padding-top: 40px;
  padding-left: 48px;
  float: left;
}
.header__catch--top {
  padding-top: 108px;
  padding-left: 48px;
  float: left;
}
.header__icon--menu {
  position: absolute;
  right: 40px;
  top: 40px;
}
.header__icon--menu:hover {
  opacity: 0.7;
}
.main-image {
  margin-bottom: 40px;
}
.menu ul {
  border-bottom: #222 dashed 1px;
}
.menu ul li {
  border-top: #222 dashed 1px;
  margin: 8px 0;
}
.menu ul li a:hover {
  opacity: 0.7;
}
.footer p.totop {
  margin: 40px 0;
  text-align: center;
}
.footer p.totop:hover {
  opacity: 0.7;
}
.footer p.copyright {
  padding: 16px 0;
  color: #FFF;
  font-size: 13px;
  background: #111;
  text-align: center;
}
